@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway");
* {
  box-sizing: border-box;
  /*border: 2px solid red; */
}

/*global*/
/*parallax*/
.MainContainer {
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.ParallaxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  z-index: -1;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateZ(-0.95px) scale(2);
          transform: translateZ(-0.95px) scale(2);
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
}

span {
  letter-spacing: 5px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  -webkit-box-flex: 8.333%;
      -ms-flex: 8.333%;
          flex: 8.333%;
}

.col-2 {
  -webkit-box-flex: 16.667%;
      -ms-flex: 16.667%;
          flex: 16.667%;
}

.col-3 {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  -webkit-box-flex: 41.667%;
      -ms-flex: 41.667%;
          flex: 41.667%;
}

.col-6 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.col-7 {
  -webkit-box-flex: 58.333%;
      -ms-flex: 58.333%;
          flex: 58.333%;
}

.col-8 {
  -webkit-box-flex: 66.667%;
      -ms-flex: 66.667%;
          flex: 66.667%;
}

.col-9 {
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
}

.col-10 {
  -webkit-box-flex: 83.333%;
      -ms-flex: 83.333%;
          flex: 83.333%;
}

.col-11 {
  -webkit-box-flex: 91.667%;
      -ms-flex: 91.667%;
          flex: 91.667%;
}

.col-12 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

/*jumbotron*/
.jumbotron {
  width: 100%;
}

.jumbotron .header {
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.jumbotron .header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jumbotron .header .hero .sign {
  color: #8286A3;
  font-size: 60px;
  font-family: 'Julius Sans One', sans-serif;
}

.jumbotron .header .hero .fa {
  font-size: 70px;
  color: #8286A3;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.jumbotron .header .hero .fa:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.jumbotron .header .hero a {
  height: 50px;
  width: 200px;
  background-color: #FF6D6D;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5s;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.jumbotron .header .hero a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.jumbotron .header .hero p {
  color: #8286A3;
  margin-bottom: 20%;
  font-size: 20px;
}

/* design section*/
.design {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design .left-column {
  margin: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-itmes: center;
}

.design .left-column h4 {
  margin: 0;
  color: #FF6D6D;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Julius Sans One', sans-serif;
}

.design .left-column h2 {
  margin: 0;
  margin-bottom: 2%;
  font-size: 55px;
  font-family: 'Julius Sans One', sans-serif;
}

.design .left-column h2 span {
  color: #FF6D6D;
}

.design .left-column p {
  color: #8286A3;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
}

.design .right-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.design .right-column:hover .image-design {
  -webkit-filter: none;
          filter: none;
}

.design .right-column .image-design {
  background-image: url("../images/design-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: 0.5s;
}

.design .right-column .triangle {
  background-image: linear-gradient(to left top, #FF6D6D 49.9%, transparent 50%);
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0;
  opacity: 0.5;
}

/*features*/
.features {
  background-image: url("../images/BG.png");
  background-repeat: no-repeat;
  background-color: #F6F5F3;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 80px 0;
}

.features .col-12 {
  text-align: center;
}

.features .col-12 h4 {
  color: #FF6D6D;
  font-size: 30px;
  font-family: 'Julius Sans One', sans-serif;
}

.features .col-12 h2 {
  font-size: 50px;
  font-family: 'Julius Sans One', sans-serif;
  margin-bottom: 150px;
}

.features .col-4 {
  max-width: 350px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.features .col-4 div {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5s;
}

.features .col-4 div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.features .col-4 div .fa {
  font-size: 50px;
  color: white;
}

.features .col-4 .picture {
  background-color: #0096cc;
}

.features .col-4 .picture:hover .fa {
  color: #33ff77;
}

.features .col-4 .plane {
  background-color: #33ccff;
}

.features .col-4 .plane:hover .fa {
  color: #bfbfbf;
}

.features .col-4 .bulb {
  background-color: #00394d;
}

.features .col-4 .bulb:hover .fa {
  color: #ffff1a;
}

.features .col-4 h4 {
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
  margin-top: 20px;
}

.features .col-4 p {
  color: #8286A3;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 10px;
}

/*responsive section*/
.responsive {
  background-color: #FFFFFF;
  font-family: 'Julius Sans One', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.responsive .row {
  width: 100%;
}

.responsive .right-column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5% 10% 5% 5%;
}

.responsive .right-column-2 h4 {
  color: #FF6D6D;
  font-size: 30px;
  margin-bottom: 10px;
}

.responsive .right-column-2 h1 {
  font-size: 40px;
  margin-top: 10px;
}

.responsive .right-column-2 h1 span {
  color: #FF6D6D;
}

.responsive .right-column-2 p {
  font-size: 20px;
  color: #8286A3;
}

.responsive .left-column-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.responsive .left-column-2 .triangle-2 {
  background-image: linear-gradient(to right top, #FF6D6D 49.9%, transparent 50%);
  position: absolute;
  width: 80%;
  height: 100%;
  opacity: 0.8;
}

.responsive .left-column-2 .triangle-2 img {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 20%;
}

/*team section*/
.team {
  background-image: url("../images/BG2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .col-4 {
  max-width: 350px;
  width: 350px;
  height: 350px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
  position: relative;
}

.team .col-4 .image {
  height: 100px;
  width: 100px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .col-4 .image:hover .bgrd {
  display: inline;
}

.team .col-4 .image .bgrd {
  display: none;
  position: absolute;
  height: 100px;
  width: 100px;
  background: rgba(0, 0, 0, 0.7);
}

.team .col-4 .workerPicture1 {
  background-image: url("../images/crew1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team .col-4 .workerPicture2 {
  background-image: url("../images/crew2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team .col-4 .workerPicture3 {
  background-image: url("../images/crew3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team .col-4 h4 {
  font-family: 'Julius Sans One', sans-serif;
  margin: 10px;
  color: #FFFFFF;
  font-size: 20px;
}

.team .col-4 h6 {
  font-family: 'Julius Sans One', sans-serif;
  margin: 10px;
  color: #FF6D6D;
  font-size: 16px;
}

.team .col-4 p {
  font-family: 'Julius Sans One', sans-serif;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: italic;
}

.team .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*awesome section*/
.awesome {
  background-color: #FFFFFF;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awesome h4 {
  color: #FF6D6D;
  font-size: 20px;
  margin: 50px 0 10px 0;
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
}

.awesome h1 {
  font-size: 50px;
  margin: 0 0 50px 0;
  font-family: 'Julius Sans One', sans-serif;
}

.awesome p {
  color: #8286A3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
}

/*trial section*/
.trial {
  background-color: #323969;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.trial h4 {
  color: #FF6D6D;
  margin: 0;
  padding-top: 100px;
  font-size: 30px;
  font-family: 'Julius Sans One', sans-serif;
}

.trial h1 {
  color: #FFFFFF;
  font-size: 40px;
  margin: 5px 0 100px 0;
  font-family: 'Julius Sans One', sans-serif;
}

.trial .sign-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #FFFFFF;
  padding: 0 0 20px 0;
  font-size: 18px;
  font-family: 'Julius Sans One', sans-serif;
}

.trial .sign-contact span {
  padding-right: 5px;
  font-size: 30px;
  -webkit-transform: rotate(290deg);
          transform: rotate(290deg);
}

.trial form {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Julius Sans One', sans-serif;
}

.trial form input {
  height: 50px;
  width: 250px;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  background-color: #333969;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5%;
  transition: 0.5s;
  font-family: 'Julius Sans One', sans-serif;
  outline-color: #FFFFFF;
  box-shadow: 5px 10px 8px #000000;
}

.trial form input::-webkit-input-placeholder {
  color: #FFFFFF;
  font-family: 'Julius Sans One', sans-serif;
}

.trial form input:-ms-input-placeholder {
  color: #FFFFFF;
  font-family: 'Julius Sans One', sans-serif;
}

.trial form input::placeholder {
  color: #FFFFFF;
  font-family: 'Julius Sans One', sans-serif;
}

.trial form button {
  height: 50px;
  width: 250px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FF6D6D;
  border: 1px solid #FF6D6D;
  border-radius: 5%;
  font-family: 'Julius Sans One', sans-serif;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 5px 10px 8px #000000;
}

.trial form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.trial p {
  color: #8286A3;
  padding: 20px 0 80px 0;
  margin: 20px 0 0 0;
  margin-right: 10px;
  font-family: 'Julius Sans One', sans-serif;
}

.trial p a {
  color: #FFFFFF;
  font-family: 'Julius Sans One', sans-serif;
}

/*contact section*/
.contact {
  background-color: #FFFFFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .triangle-3 {
  background-image: linear-gradient(to left bottom, #FF6D6D 49.9%, transparent 50%);
  position: absolute;
  width: 20%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.contact .col-4 {
  max-width: 250px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 10px 50px 10px;
}

.contact .col-4 img {
  width: 100px;
}

.contact .col-4 h4 {
  font-size: 25px;
  margin: 0 0 35px 0;
  font-family: 'Julius Sans One', sans-serif;
}

.contact .col-4 p {
  color: #8286A3;
  font-family: 'Julius Sans One', sans-serif;
  margin: 20px 0 5px 0;
}

.contact .col-4 a {
  text-decoration: none;
  color: #8286A3;
  font-family: 'Julius Sans One', sans-serif;
  padding-bottom: 10px;
  transition: 0.5s;
}

.contact .col-4 a:hover {
  text-decoration: underline;
  color: #FF6D6D;
}

.contact .col-4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact .col-4 div i {
  padding: 20px;
  font-size: 30px;
  color: #8286A3;
  cursor: pointer;
  transition: 0.5s;
}

.contact .col-4 div i:hover {
  color: #FF6D6D;
}

.contact .col-4 form {
  border: 1px solid #8286A3;
  box-shadow: 5px 10px 8px #888888;
}

.contact .col-4 form input {
  width: 180px;
  height: 50px;
  border: none;
  outline-color: #FFFFFF;
  text-align: center;
}

.contact .col-4 form input::-webkit-input-placeholder {
  font-family: 'Julius Sans One', sans-serif;
}

.contact .col-4 form input:-ms-input-placeholder {
  font-family: 'Julius Sans One', sans-serif;
}

.contact .col-4 form input::placeholder {
  font-family: 'Julius Sans One', sans-serif;
}

.contact .col-4 form button {
  width: 44px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #FF6D6D;
  cursor: pointer;
}

.contact .col-4 form button:hover i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.contact .col-4 form button i {
  color: #FFFFFF;
  transition: 0.5s;
}

/*RWD*/
@media (max-width: 1600px) {
  .contact .triangle-3 {
    width: 10%;
  }
}

@media (max-width: 1219px) {
  .trial form input {
    width: 200px;
  }
  .trial form button {
    width: 200px;
  }
  .contact .triangle-3 {
    width: 100%;
    height: 10%;
    top: 0;
    right: 0;
  }
}

@media (max-width: 991px) {
  .col-s-1 {
    -webkit-box-flex: 8.33%;
        -ms-flex: 8.33%;
            flex: 8.33%;
  }
  .col-s-2 {
    -webkit-box-flex: 16.66%;
        -ms-flex: 16.66%;
            flex: 16.66%;
  }
  .col-s-3 {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
  .col-s-4 {
    -webkit-box-flex: 33.33%;
        -ms-flex: 33.33%;
            flex: 33.33%;
  }
  .col-s-5 {
    -webkit-box-flex: 41.66%;
        -ms-flex: 41.66%;
            flex: 41.66%;
  }
  .col-s-6 {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .col-s-7 {
    -webkit-box-flex: 58.33%;
        -ms-flex: 58.33%;
            flex: 58.33%;
  }
  .col-s-8 {
    -webkit-box-flex: 66.66%;
        -ms-flex: 66.66%;
            flex: 66.66%;
  }
  .col-s-9 {
    -webkit-box-flex: 75%;
        -ms-flex: 75%;
            flex: 75%;
  }
  .col-s-10 {
    -webkit-box-flex: 83.33%;
        -ms-flex: 83.33%;
            flex: 83.33%;
  }
  .col-s-11 {
    -webkit-box-flex: 91.66%;
        -ms-flex: 91.66%;
            flex: 91.66%;
  }
  .col-s-12 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .jumbotron .header .hero .sign {
    font-size: 40px;
    margin-top: 0;
    padding: 0;
  }
  .design .left-column h2 {
    font-size: 30px;
  }
  .design .left-column h4 {
    font-size: 20px;
  }
  .design .left-column p {
    font-size: 16px;
  }
  .design .right-column {
    display: none;
  }
  .features {
    padding: 5%;
  }
  .features .col-12 {
    text-align: center;
  }
  .features .col-12 h4 {
    font-size: 20px;
    margin-top: 5%;
  }
  .features .col-12 h2 {
    font-size: 30px;
    margin: 5%;
  }
  .responsive .left-column-2 {
    display: none;
    margin: 10%;
    padding: 0;
  }
  .team .col-4 {
    margin-top: 20px;
  }
  .team .icons {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .awesome .container {
    margin: 10%;
  }
  .awesome .container h1 {
    font-size: 30px;
  }
  .awesome .container div {
    display: none;
  }
  .trial h4 {
    font-size: 20px;
    padding-top: 0;
    margin-top: 10%;
  }
  .trial h1 {
    font-size: 30px;
    margin: 5%;
  }
  .trial .sign-contact {
    display: none;
  }
  .trial form input {
    margin: 5%;
    width: 200px;
  }
  .trial form button {
    margin: 5%;
    width: 200px;
  }
  .contact .col-4 {
    padding: 0;
    padding-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .triangle-3 {
    height: 5%;
    background-image: linear-gradient(to left bottom, #FF6D6D 49%, transparent 50%);
  }
}
/*# sourceMappingURL=style.prefixed.css.map */