@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway');
* {
  box-sizing: border-box;
  /*border: 2px solid red; */
}
/*global*/
$color-grey: #8286A3;

$color-pink: #FF6D6D;

$color-white: #FFFFFF;

/*parallax*/

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  z-index: -1;
  position: relative;
  justify-content: center;
  align-items: center;
  transform: translateZ(-0.95px) scale(2); 
  width: 100%;
}

body {
	margin: 0 auto;
	padding: 0; 
}

span {
	letter-spacing: 5px;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-1 {flex: 8.333%;}
.col-2 {flex: 16.667%;}
.col-3 {flex: 25%;}
.col-4 {width: 33.333%;}
.col-5 {flex: 41.667%;}
.col-6 {flex: 50%;}
.col-7 {flex: 58.333%;}
.col-8 {flex: 66.667%;}
.col-9 {flex: 75%;}
.col-10 {flex: 83.333%;}
.col-11 {flex: 91.667%;}
.col-12 {flex: 100%;}


/*jumbotron*/
.jumbotron {
	width: 100%;
	.header {
		background-image: url("../images/jumbotron.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		.hero {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.sign {
				color: $color-grey;
				font-size: 60px;
				font-family: 'Julius Sans One', sans-serif;
			}
			.fa {
				font-size: 70px;
				color: $color-grey;
				margin: 30px 0;
				display: flex;
				width: 50px;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				transition: 0.5s;
				&:hover {
					transform: scale(1.1);
				}
			}
			a {
			 	height: 50px;
			 	width: 200px;
			 	background-color: $color-pink;
				border-radius: 5px;
				margin: 0 auto;
				cursor: pointer;
				transition: 0.5s;
				color: $color-white;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 20px;
				&:hover {
					transform: scale(1.1);
				}
			}
			p {
				color: $color-grey;
				margin-bottom: 20%;
				font-size: 20px;
			}
		}
	}
}


/* design section*/

.design {
	background-color: $color-white;
	display: flex;
	flex-wrap: wrap;
	.left-column {
		margin: 10%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-itmes: center;
		h4 {
			margin: 0;
			color: $color-pink;
			text-transform: uppercase;
			font-size: 30px;
			font-family: 'Julius Sans One', sans-serif;
		}
		h2 {
			margin: 0;
			margin-bottom: 2%;
			font-size: 55px;
			font-family: 'Julius Sans One', sans-serif;
			span {
				color: $color-pink;
			}
		}
		p {
			color: $color-grey;
			font-size: 20px;
			font-family: 'Julius Sans One', sans-serif;
		}
	}
	.right-column {	
		position: relative;
		display: flex;
		flex-wrap: wrap;
		&:hover .image-design{
				filter: none;
			}
		.image-design {
			background-image: url("../images/design-background.jpeg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;	
			height: 100%;
			width: 100%;
			filter: grayscale(100%);
			transition: 0.5s;
		}
		.triangle {
			background-image: linear-gradient(to left top, $color-pink 49.9%, transparent 50%);
			position: absolute;
			width: 100%;
			height: 60%;
			bottom: 0;
			opacity: 0.5;
		}
	}
}

/*features*/
		
.features {
	background-image: url("../images/BG.png");
	background-repeat: no-repeat;
	background-color: #F6F5F3;
	background-position: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 80px 0;
	.col-12 {
		text-align: center;
		h4 {
			color: $color-pink;
			font-size: 30px;
			font-family: 'Julius Sans One', sans-serif;
		}
		h2 {
			font-size: 50px;
			font-family: 'Julius Sans One', sans-serif;
			margin-bottom: 150px;
		}
	}
	.col-4 {
		max-width: 350px;
		width: 350px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;
		div {				
			border-radius: 50%;
			height: 80px;
			width: 80px;			
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			cursor: pointer;
			transition: 0.5s;
			&:hover {
				transform: scale(1.1);
			}
			.fa {	
				font-size: 50px;	
				color: white;			
			}
		}
		.picture {
			background-color: #0096cc;
			&:hover .fa {
				color: #33ff77;
			}
		}
		.plane {
			background-color: #33ccff;
			&:hover .fa {
				color: #bfbfbf;
			}
		}
		.bulb {
			background-color: #00394d;
			&:hover .fa {
				color: #ffff1a;
			}
		}
		h4 {
			font-size: 20px;
			font-family: 'Julius Sans One', sans-serif;
			margin: 0;
			margin-top: 20px;
		}
		p {
			color: $color-grey;
			font-family: 'Julius Sans One', sans-serif;
			margin-top: 10px;
		}
	}
}

/*responsive section*/

.responsive {
	background-color: $color-white;
	font-family: 'Julius Sans One', sans-serif;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.row {
		width: 100%;
	}
	.right-column-2 {
		display: flex;	
		flex-direction: column;
		flex-wrap: wrap;
		padding: 5% 10% 5% 5%;
		h4 {	
			color: $color-pink;
			font-size: 30px;
			margin-bottom: 10px;
		}
		h1 {	
			font-size: 40px;
			margin-top: 10px;
			span {
			color: $color-pink;
			}	
		}
		p {		
			font-size: 20px;	
			color: $color-grey;
		}
	}
	.left-column-2 {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		.triangle-2 {
			background-image: linear-gradient(to right top, $color-pink 49.9%, transparent 50%);
			position: absolute;
			width: 80%;
			height: 100%;
			opacity: 0.8;
			img {
				top: 50%;
				left: 50%;
				position: absolute;
				transform: translate(-50%, -50%);
				margin-left: 20%;
			}
		}
	}
}
/*team section*/
.team {
	.row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	background-image: url("../images/BG2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	.col-4 {
		max-width: 350px;
		width: 350px;
		height: 350px;
		padding: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 100px;
		position: relative;
		.image {
			height: 100px;
			width: 100px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover .bgrd {
				display: inline;	
			}
			.bgrd {
				display: none;
				position: absolute;
				height: 100px;
				width: 100px;
			  	background: rgba(0, 0 ,0 , 0.7);
			}
		}
		.workerPicture1 {
			background-image: url("../images/crew1.jpeg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}		
		.workerPicture2 {
			background-image: url("../images/crew2.jpeg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}	
		.workerPicture3 {
			background-image: url("../images/crew3.jpeg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}		
		h4 {
			font-family: 'Julius Sans One', sans-serif;
			margin: 10px;
			color: $color-white;
			font-size: 20px;
		}
		h6 {
			font-family: 'Julius Sans One', sans-serif;
			margin: 10px;
			color: $color-pink;
			font-size: 16px;
		}
		p {
			font-family: 'Julius Sans One', sans-serif;
			padding: 10px;
			color: $color-white;
			text-align: center;
			text-decoration: italic;
		}
	}
	.icons {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
		justify-content: space-around;
	}
}
/*awesome section*/
.awesome {
	background-color: $color-white;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	h4 {
		color: $color-pink;
		font-size: 20px;
		margin: 50px 0 10px 0; 
		text-transform: uppercase;
		font-family: 'Julius Sans One', sans-serif;
	}
	h1 {
		font-size: 50px;
		margin: 0 0 50px 0;
		font-family: 'Julius Sans One', sans-serif;
	}
	p {
		color: $color-grey;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 100px;
		font-size: 20px;
		font-family: 'Julius Sans One', sans-serif;
	}
}
/*trial section*/
.trial {
	background-color: #323969;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	h4 {
		color: $color-pink;
		margin: 0;
		padding-top: 100px;
		font-size: 30px;
		font-family: 'Julius Sans One', sans-serif;
	}
	h1 {
		color: $color-white;
		font-size: 40px;
		margin: 5px 0 100px 0;
		font-family: 'Julius Sans One', sans-serif;
	}
	.sign-contact {
		display: flex;
		justify-content: flex-end;
		color: $color-white;
		padding: 0 0 20px 0;
		font-size: 18px;
		font-family: 'Julius Sans One', sans-serif;
		span {
			padding-right: 5px;
			font-size: 30px;
			transform: rotate(290deg); 
		}
	}
	form {
		color: $color-white;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		font-family: 'Julius Sans One', sans-serif;
		input {
			height: 50px;
			width: 250px;
			text-transform: uppercase;
			border: 1px solid $color-white;
			background-color: #333969;
			color: $color-white;
			text-align: center;
			border-radius: 5%;
			transition: 0.5s;
			font-family: 'Julius Sans One', sans-serif;
			outline-color: $color-white;	
			box-shadow: 5px 10px 8px #000000; 
			&::placeholder {
				color: $color-white;
				font-family: 'Julius Sans One', sans-serif;
			}
		}
		button {
			height: 50px;
			width: 250px;
			text-transform: uppercase;
			color: $color-white;
			background-color: $color-pink;
			border: 1px solid $color-pink;
			border-radius: 5%;
			font-family: 'Julius Sans One', sans-serif;
			cursor: pointer;
			transition: 0.5s;
			box-shadow: 5px 10px 8px #000000; 
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	p {
		color: $color-grey;
		padding: 20px 0 80px 0;
		margin: 20px 0 0 0;
		margin-right: 10px;
		font-family: 'Julius Sans One', sans-serif;
		a {
			color: $color-white;
			font-family: 'Julius Sans One', sans-serif;
		}
	}
}
/*contact section*/
.contact {
	background-color: $color-white;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	.row {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	.triangle-3 {
		background-image: linear-gradient(to left bottom, $color-pink 49.9%, transparent 50%);
		position: absolute;
		width: 20%;
		height: 100%;
		bottom: 0;
		right: 0;
	}
	.col-4 {
		max-width: 250px;
		width: 250px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 50px 10px 50px 10px;
		img {
			width: 100px;
		}
		h4 {
			font-size: 25px;
			margin: 0 0 35px 0;
			font-family: 'Julius Sans One', sans-serif;
		}
		p {
			color: $color-grey;
			font-family: 'Julius Sans One', sans-serif;
			margin: 20px 0 5px 0;
		}
		a {
			text-decoration: none;
			color: $color-grey;
			font-family: 'Julius Sans One', sans-serif;
			padding-bottom: 10px;
			transition: 0.5s;
			&:hover {
				text-decoration: underline;
				color: $color-pink;
			}
		}
		div {
			display: flex;
			justify-content: space-around;
			i {
				padding: 20px;
				font-size: 30px;
				color: $color-grey;
				cursor: pointer;
				transition: 0.5s;
				&:hover {
					color: $color-pink;
				}
			}
		}
		form {			
			border: 1px solid $color-grey;
			box-shadow: 5px 10px 8px #888888; 
			input {
				width: 180px;
				height: 50px;
				border: none;
				outline-color: $color-white;	
				text-align: center;
				&::placeholder {
					font-family: 'Julius Sans One', sans-serif;
				}
			}
			button {
				width: 44px;
				height: 50px;
				margin: 0;
				padding: 0;
				border: none;
				background-color: $color-pink;
				cursor: pointer;
				&:hover i {
					transform: scale(1.5);
				}
				i {
					color: $color-white;
					transition: 0.5s;
				}
			}
		}
	}
}

/*RWD*/
@media(max-width: 1600px) {
	.contact {
		.triangle-3 {
			width: 10%;
		}
	}
}

@media(max-width: 1219px) {
	.trial {
    	form {
    		input {
    			width: 200px;
    		}
    		button {
    			width: 200px;
    		}
    	}
    }
    .contact {
		.triangle-3 {
			width: 100%;
			height: 10%;
			top: 0;
			right: 0;
		} 
    }
}

@media (max-width: 991px) {
	.col-s-1 {flex: 8.33%;}
    .col-s-2 {flex: 16.66%;}
    .col-s-3 {flex: 25%;}
    .col-s-4 {flex: 33.33%;}
    .col-s-5 {flex: 41.66%;}
    .col-s-6 {flex: 50%;}
    .col-s-7 {flex: 58.33%;}
    .col-s-8 {flex: 66.66%;}
    .col-s-9 {flex: 75%;}
    .col-s-10 {flex: 83.33%;}
    .col-s-11 {flex: 91.66%;}
    .col-s-12 {flex: 100%;}
     
	.jumbotron {
		.header {
			.hero {
				.sign {
					font-size: 40px;
					margin-top: 0;
					padding: 0;
				}
			}
		}
	}
    .design {
    	.left-column {
    		h2 {
    			font-size: 30px;
    		}
    		h4 {
    			font-size: 20px;
    		}
    		p {
    			font-size: 16px;
    		}
    	}
    	.right-column {
	    	display: none;
	    }
    }
    .features {
    	padding: 5%;
    	.col-12 {
    		text-align: center;
    		h4 {
    			font-size: 20px;
    			margin-top: 5%;
    		}
    		h2 {
    			font-size: 30px;
    			margin: 5%;
    		}
    	}
    }
    .responsive {
    	.left-column-2 {
    		display: none;
    		margin: 10%;
    		padding: 0;
    	}
    	.right-column-2 {

    	}
    }
    .team {
    	.col-4 {  		
    		margin-top: 20px;
    	}
    	.icons {
    		transform: scale(0.5);
    	}
    }
    .awesome {
    	.container {
    		margin: 10%;
    		h1 {
    			font-size: 30px;
    		}
    		div {
    			display: none;
    		}
    	}  	
    }
    .trial {
    	h4{
    		font-size: 20px;
    		padding-top: 0;
    		margin-top: 10%;
    	}
    	h1{
    		font-size: 30px;
    		margin: 5%;
    	}
    	.sign-contact {
    		display: none;
    	}
    	form {
    		input {
    			margin: 5%;
    			width: 200px;
    		}
    		button {
    			margin: 5%;
    			width: 200px;
    		}
    	}
    }
    .contact {
		.col-4 {
			padding: 0;
			padding-top: 30px;
			align-items: center;
		}
		.triangle-3 {
			height: 5%;
			background-image: linear-gradient(to left bottom, $color-pink 49%, transparent 50%);
		} 
    }
}


/*# sourceMappingURL=style.css.map */
